
#nav_logo {
    background-image: url('../img/logos/jtt_initial.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 100%;
}
.navbar-custom .navbar-brand {
    float: right!important;
    margin-top: -8px;    
    margin-right: 75px;
}
.navbar-custom .navbar-brand .nav_logo_container {
    height: 80px!important;
    width: 80px!important;  
    z-index : 9999;
    position: absolute;
}
#header {
    background-color: #222222;
    color: #FFFFFF;
    padding-bottom: 100px;
    background-image: url('../img/map-image.png');
}
#header .header_content {
    padding-top: 50px;
    padding-bottom: 50px;
}
#header .header_logo_container {
    margin: 0px auto;
    padding-top: 50px;
}
#header_emblem_logo {
    background-image: url('../img/logos/jtt_emblem.gif');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 247px;
    width: 250px;
    padding: 0px;
    margin: 0px auto;
}
#header .header_title_container {
    text-align: center;
}
#header .header_title_container .title {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    margin-bottom: 5px;
}
#header .header_title_container .sub_title {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 25px;
}

@media (min-width: 800px) {
    .navbar-custom .navbar-brand .nav_logo_container {
        margin-top: -8px;
        height: 100px!important;
        width: 100px!important;     
    }
    #header .header_content {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #header .header_logo_container {
        margin: 0px auto;
        padding-top: 50px;
    }
    #header_emblem_logo {
        height: 346px;
        width: 350px;
    }
    #header .header_title_container .title {
        font-size: 40px;
        margin-bottom: 10px;
    }
    #header .header_title_container .sub_title {
        font-size: 22px;
    }
}