
#nav_logo {
    background-image: url('../img/logos/jtt_initial.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 100%;
}
.navbar-custom .navbar-brand .nav_logo_container {
    z-index : 9999;
    position: absolute;
    height: 80px!important;
    width: 80px!important;  
}
#header {
    /*    background-image: url('../img/header-bg.jpg');*/
    background-color: #222222;
/*    background-image: url('../img/map-image.png');*/
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 200px;
}
#header .header_content {
/*    height: 650px;
    padding-top: 50px;
    padding-bottom: 0px;*/
}
#header_emblem_logo {
    background-image: url('../img/logos/jtt_emblem.gif');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 247px;
    width: 250px;
    margin: 0px auto;
}
/*#header .header_logo_container {
    height: 90%;
    width: 80%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    margin: 0px auto;
    background-position: center center;
        background-image: url('../img/logo_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
}*/
#header .header_content .quotes {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 8px;
    line-height: 15px;
    float: right;
    text-align: right;
    color: #FFFFFF;
    margin-right: 10px;
    margin-top: 170px;
}

@media (min-width: 800px) {
    .navbar-custom .navbar-brand .nav_logo_container {
        margin-top: -8px;
        z-index : 9999;
        position: absolute;
        height: 100px!important;
        width: 100px!important;     
    }
    #header_emblem_logo {
        height: 346px;
        width: 350px;
        padding: 0px;
        margin: 0px auto;
    }
    #header .header_content {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #header .header_logo_container {
        padding-top: 30px;
        margin: 0px auto;
    }
    #header .header_content .quotes {
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
        font-size: 10px;
        line-height: 15px;
        float: right;
        text-align: right;
        color: #FFFFFF;
        margin-right: 20px;
        margin-top: 110px;
    }
}

.text-center { text-align: center!important; }