<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="https://jttorate.info">
                    <img src="img/logos/logo.png" width="50" class="image rounded-circle img-fluid">
                </a>
                <p class="mt-3">
                    Copyright © 2020 JUNNEL T TORATE <br/> All Rights Reserved
                </p>
                <p>
                    <a href="disclaimer">Disclaimer</a>
                </p>
            </div>
        </div>
    </div>
</footer>