<div id="guest-modal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<form id="guest-form" method="post" action="">
					<div class="controls">
						<div class="row">
							<div class="col-lg-12 text-center">
								<!-- <img src="img/logos/logo.png" href="https://jttorate.info" width="100" /> -->
								<h2>Hello there, I'm Nelo!</h2>
								<h5>Thank you for visiting my portfolio!</h5>
								<hr />
							</div>
							<div class="col-md-12">
								<p class="error text-small text-center"></p>
								Your name:
								<input type="text" name="guestName" required="required" class="form-control" autocomplete="off" />
								Message:
								<textarea name="guestMessage" rows="3" class="form-control" maxlength="100" style="resize: none"></textarea>
							</div>
							<div class="col-md-12 text-center">
								<button class="btn btn-primary">Submit</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

